<!DOCTYPE html>
<html>
<head>
  <link href="dashboard.css" rel="stylesheet" type="text/css">
</head>
<body>
<h3>My Google Maps Demo</h3>
<div id="map"></div>
<script src="dashboard.js" type="text/javascript"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFDVUVlg7TioceKeF4lCceOHRxHhjeObQ&callback=initMap">
</script>
</body>
</html>
